*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 1vmin;
    justify-content: space-evenly;
    border-bottom: 1px solid #C2C0CA;
}

.navs{
    display: flex;
    gap: 2vmin;
    align-items: center;
    color: #282c3f;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .3px;
}

.checkout{
    display: flex;
    gap: 3vmin;
}

.logo img{
    width: 50px;
    height: 50px;
}

.checkout div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    background-color:#F5F4F6;
    padding: 8px;
    width: 400px;
}

.searchbar input
{
    width: 90%;
    outline: none;
    height: 100%;
    background-color: transparent;
    border: none;
    margin-left: 10px;

}

.new{
    color: #BD677C;
}

.banner{
    width: 100%;
    /* height: 60vh; */
    /* background-color: yellow; */
    padding: 30px 0px;
}

.banner  img{
    width: 100%;
    height: 90%;
}

.brands{
    display: flex;
    flex-direction: column;
}

.brand-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30PX;
    /* width: 100%; */
    margin-left: 20px;
    justify-content: space-evenly;
}

.brands h1{
    margin-left: 10px;
}

.category{
    display: flex;
    flex-direction: column;
}

.category h1{
    margin-left: 20px;
}

.categories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4F6;
  }

  .footer div {
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  .footer div h1 {
    text-transform: uppercase;
  }
